*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;

}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card{
  width: 300px;
  border: 2px solid black;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: blanchedalmond;
}
img{
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
}
p{
  margin: 20px 0;
}
button{
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.734);
  color: white;
  border: none;
  border-radius: 5px;
}