*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}
html,body{
  height: 100%;
  width: 100%;
}
.parent{
  padding: 30px;
  background-color: #111;
  display: flex;
  flex-wrap: wrap;
}

.card{
  height: 370px;
  width: 300px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 11px;
  border-radius: 5px;
}
.center{
  margin-top: 10px;
}
.center span{
  font-size: 10px;
  margin-left: 2px;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.696);
}
.center h2{
  margin-top: 12px;
}
.center p{
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
}
.box{
  width: 160px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.box h4{
  font-size: 12px;
  padding: 4px;
  background-color: #dadada;
  border: none;
  border-radius: 5px;
}

hr{
  margin-top: 50%;
}
.bottom{
  width: 250px;
  /* margin-top: 130px; */
  /* position: absolute;
  top: 43%; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #0000008a;
  padding-top: 15px;
}
button{
  cursor: pointer;
}
.apply{
  padding: 5px;
  font-size: 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: black;
  color: white;
}